/* In your external CSS file */
.cus-navbar {
    background-color: rgb(152, 238, 204);
  }

.carousel-item img {
    height: 300px; /* Adjust the height to your desired value */
}

.carousel-caption{
    color: cyan;
}

.container{
    box-sizing: border-box;
    background-color: rgb(208, 245, 190);
    width: 100%;
    justify-content: space-evenly;
}

